:root {
  --primary: #48b8d0ff;
  --secondary: #cc0003ff;
  --light: #fbe40eff;
  --secondary-light: #fff;
  --dark: #140f2dff;
  --shadowColor: #333;
  --shadow: 2px 2px 4px var(--shadowColor);
} 

body {
  font-size: 1.5rem;
  color: var(--dark);
}

@keyframes pulseFade {
  0% {font-size: 0.5em; opacity: 1;}
  25% {font-size: 1.5em;opacity: 1;}
  100% {font-size: 1.5em; opacity: 0;}
}
